@import url("tailwond.css");

* {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

html {
  background: #323232;
}

h1 {
  font-size: 28px;
}

#reset {
  cursor: pointer;
  background: #682125;
  color: #ff525c;
  border: 2px solid #ff525c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-radius: 4px;
  font-size: 16px;
}

.lucide {
  fill: #323232;
  cursor: pointer;
}

.container {
  width: 325px;
  padding: 24px 32px;
  border: 2px solid #545454;
  color: white;
  font-family: monospace;
}

.card {
  box-sizing: border-box;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  margin-top: -2px;
  width: 100%;
  position: relative;
  user-select: none;
}

input[type="radio"] {
  cursor: pointer;
  opacity: 0;
}

input[type="radio"]:checked + div {
  animation: mymove 1s;
  background: #ffffc5;
  box-shadow: 0px 0px 87.0912px #ff9a27, 0px 0px 49.7664px #ff9a27, 0px 0px 29.0304px #ff9a27, 0px 0px 14.5152px #ffffc5,
    0px 0px 4.1472px #ffffc5, 0px 0px 2.0736px #ffffc5;
  border-radius: 237.6px;
}

.radio-check-indicator {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 99px;
}

.default {
  background: #232323;
  border: 2px solid #515151;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.25);
  color: white;
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.mt-4 {
  margin-top: 16px;
}
