@import url("tailwond.css");
* {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

html {
  background: #323232;
}

h1 {
  font-size: 28px;
}

#reset {
  cursor: pointer;
  background: #682125;
  color: #ff525c;
  border: 2px solid #ff525c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-radius: 4px;
  font-size: 16px;
}

.lucide {
  fill: #323232;
  cursor: pointer;
}

.container {
  width: 325px;
  padding: 24px 32px;
  border: 2px solid #545454;
  color: white;
  font-family: monospace;
}

.card {
  box-sizing: border-box;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  margin-top: -2px;
  width: 100%;
  position: relative;
  user-select: none;
}

input[type="radio"] {
  opacity: 0;
}
input[type="radio"]:checked {
  opacity: 1;
}
.default {
  background: #232323;
  border: 2px solid #515151;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.25);
  color: white;
}

.-mx-xs {
  margin: 0 -2px;
}

.w-full {
  width: 100%;
}

.mt-4 {
  margin-top: 16px;
}

.size-full {
  width: 100%;
  height: 100%;
}

.absolute {
  position: absolute;
}

.base {
  top: 0;
  left: 0;
}
