.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.mt-4 {
  margin-top: 16px;
}

.-mx-xs {
  margin: 0 -2px;
}

.w-full {
  width: 100%;
}

.size-full {
  width: 100%;
  height: 100%;
}

.absolute {
  position: absolute;
}

.base {
  top: 0;
  left: 0;
}
